@model NotWikiHow_.Models.TutorialDetail

@{
    ViewBag.Title = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>
<h6>@Html.DisplayNameFor(model=>model.CreatedUTC)</h6><p>@Html.DisplayFor(model=>model.CreatedUTC)</p>

<h4>@Html.DisplayFor(model => model.Description)</h4>

@if (Model.Published)
{<p>Published</p>}
else
{<p>Unpublished</p>}

<h3>@Html.DisplayNameFor(model => model.Instructions)</h3>

    @*@try
        {
            foreach (var item in Model.Instructions)
            {
                <div>
                    @item.Step
                    @item.Title
                    @item.Description
                </div>
            }
        }
        catch
        {
            <p>Instructions not printed or/missing </p>
        }*@



<dt>
    @Html.DisplayNameFor(model => model.CreatedUTC)
</dt>

<dd>
    @Html.DisplayFor(model => model.CreatedUTC)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.ModifiedUTC)
</dt>

<dd>
    @Html.DisplayFor(model => model.ModifiedUTC)
</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TutorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
